.gorCal-jumbotron, .home-jumbotron {
	background-color: #2196F3;
	color: #FAFAFA;
}

.jumbotron {
	box-shadow: #212121 0 0 8px;
}

.grePanel {
	padding-bottom: 12px;
}

.grePanel div {
	margin-bottom: 12px;
}

.rSpacing {
	margin-right: 12px;
}

.bg-green {
	background-color: #4CAF50;
}
